<div class="row mt-5">
  <div class="col-10 offset-1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h4 class="card-title">Listado de Noticias</h4>
          </div>
          <div class="col-md-6 col-sm-6 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#NewsModal" (click)="onCreateNews()">
              <i class="fas fa-plus"></i>
              Nueva Noticia
            </button>
          </div>
        </div>
        <div class="table-responsive mt-4">
          <table #datatable class="table dark-table">
            <thead class="bg-dark text-light">
              <tr>
                <th width='25'>Título</th>
                <th width='45%'>Subtitulo</th>
                <th width='15%'>Categoria</th>
                <th width='15%' class="no-sort"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!(news | async)" >
                <td colspan='4' class="text-center p-5">
                  <div class="spinner-border  text-primary p-3 " role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <h5 class="h5 font-weight-bold  mt-3">Cargando...</h5>
                </td>
              </tr>
              <tr *ngFor="let new of news | async" class="{{new.category}}">
                <td class="font-weight-bolder">{{new.title}}</td>
                <td>{{new.subtitle}}</td>
                <td class="text-capitalize">{{new.category}}</td>
                <td>
                  <button class="btn btn-info mr-1" title="Editar" (click)="onPressUpdateNews(new)" data-toggle="modal"
                    data-target="#NewsModal">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-danger" title="Eliminar" (click)="onDeleteNew(new)">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade " id="NewsModal" #modal tabindex="-1" role="dialog" aria-labelledby="NewsModalLabel"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title font-weight-bold" id="userModalLabel">
          {{isNew ? 'Registro de Noticia': 'Editar Noticia'}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close"
          (click)="formNews.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="formNews" ngNativeValidate="false">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-form-label font-weight-bold">Título:</label>
            <input type='text' class="form-control" placeholder="Título" formControlName="title">
            <span *ngIf="!formNews.get('title').valid" class="invalid-feedback">
              
              <span *ngIf="formNews.get('title').errors.pattern">
                No debe ingresar caracteres especiales.
              </span>
              <span *ngIf="formNews.get('title').errors.required">
                  Ingrese el Título.
              </span>
            </span>
          </div>
          <div class="form-group">
            <label class="col-form-label font-weight-bold">Subtítulo:</label>
            <textarea class="form-control" rows="5" placeholder="Subtítulo" formControlName="subtitle"></textarea>
            <span *ngIf="!formNews.get('subtitle').valid" class="invalid-feedback">
              Ingrese el Subtítulo.
            </span>
          </div>
          <div class="form-group">
            <label class="col-form-label font-weight-bold">Imagen:</label>
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <img src="{{fileUpload}}" width="90%">
              </div>
              <div class="col-md-6 offset-md-3">
                <input type='file' class="form-control" placeholder="Imagen" (change)="onFileChange($event)"
                  formControlName="img">
                <span *ngIf="!formNews.get('img').valid" class="invalid-feedback">
                  Ingrese la Imagen.
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label font-weight-bold">Contenido de la Noticia:</label>
            <textarea class="form-control" rows="8" placeholder="Contenido de la Noticia"
              formControlName="content"></textarea>
            <span *ngIf="!formNews.get('content').valid" class="invalid-feedback">
              Ingrese el Contenido de la Noticia.
            </span>
          </div>
          <div class="form-group">
            <label class="col-form-label font-weight-bold">Categoría:</label>
            <select class="custom-select form-control" formControlName="category">
              <option value=''>Seleccione la Categoría</option>
              <option value="internacionales">Internacionales</option>
              <option value="deportes">Deporte</option>
              <option value="economia">Economia</option>
              <option value="politica">Politica</option>
              <option value="sucesos">Sucesos</option>
            </select>
            <span *ngIf="!formNews.get('category').valid" class="invalid-feedback">
              Ingrese la Categoría.
            </span>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="formNews.reset()">
            <i class="fas fa-times"></i>
            Cerrar
          </button>
          <button [disabled]="!formNews.valid" *ngIf="isNew" (click)="onSaveNew()" class="btn btn-primary">
            <i class="fas fa-save"></i>
            Guardar
          </button>
          <button [disabled]="!formNews.valid" *ngIf="!isNew" (click)="onUpdateNew()" class="btn btn-primary">
            <i class="fas fa-edit"></i>
            Actualizar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>