.contentText{
    white-space: unset;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 75px;
}

.divNews{
    cursor: pointer;
    padding-right: 6px;
    padding-left: 6px;
}
.imgNews{
    height: 230px;

}
.deportes{
    background: #4891da8f;
}
.internacionales{
    background: #00800080
}
.sucesos{
    background: #ff000082;
}
.politica{
    background: #e0dcdc;
}
.economia{
    background: #ffff0073;
}